{% if is_preview %}
<p>Event Staff Block</p>
{% endif %}

<div class="event-staff py-5 bg-gray-900">
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col-md-auto pe-md-5">
                <h3 class="event-staff__title">Staff</h3>
            </div>
            <div class="col-md">
                <div class="row">
                    {% for key, item in fields.staff %}
                    <div class="col-md-3">
                        <div class="person-teaser">
                            <a href="{{ Post(item.person).link }}" class="person-teaser__link">
                            <div class="person-teaser__image">
                                {% if Post(item.person).thumbnail.src|resize(650) %}
                                <img class="rounded-circle w-100" src="{{ Post(item.person).thumbnail.src }}" alt="{{ item.title }}">
                                {% else %}
                                <img class="rounded-circle w-100" src="{{ theme.link }}/assets/images/person-placeholder.png" alt="{{ item.person.post_name }}">
                                {% endif %}
                            </div>
                            </a>
                            <a href="{{ item.link }}" class="person-teaser__link">
                            <p class="person-teaser__name">
                                {{ Post(item.person).title }}
                            </p>
                            </a>
                            <p class="person-teaser__title text-white">
                                {{ item.person.person_title }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>